$color-primary: #232523cc;
$color-primary-light: #0b412fb3;
$color-grey-dark: #777;
$color-black: #000;
$color-white-grey: #eee;
$color-grey-dark: #333;

$color-white: #fff;
$color-grey: #2e3044;
$color-yellow: #f8e735;
